/* IssueCard.module.css */
.issue-lane {
    width: 24%;
    padding: 10px;
}

.lane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.lane-body {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.issue-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    padding-bottom: 30px;
    overflow-y: scroll;
    background: #f6f6f6;
    padding: 15px;
    border-radius: 8px;
}

.issueCard {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border-bottom: 6px solid transparent;
}

.issueCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-bottom: 6px solid #6e42c1;
}

.issueCard h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    margin: 0 !important;
}

.issueCard p {
    color: #555;
    margin: 0 !important;
}

.issueCard strong {
    color: #333;
}

.status,
.category,
.priority {
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 12px #ddddddc7;
    backdrop-filter: blur(5px);
    color: #fff;
}

.status.ToDo {
    background-color: #6c757d2f;
}

/* Gray for 'To Do' */
.status.InProgress {
    background-color: #17a3b856;
}

/* Blue for 'In Progress' */
.status.Review {
    background-color: #ffc1073c;
}

/* Yellow for 'Review' */
.status.Completed {
    background-color: #23e45052;
}

/* Green for 'Completed' */

.category.Bug {
    background-color: #dc354638;
}

/* Red for 'Bug' */
.category.Feature {
    background-color: #007bff4d;
}

/* Blue for 'Feature' */
.category.Enhancement {
    background-color: #17a3b856;
}

/* Cyan for 'Enhancement' */
.category.Question {
    background-color: #6e42c164;
}

/* Purple for 'Question' */

.priority.Low {
    background-color: #23e45052;
}

/* Green for 'Low' */
.priority.Medium {
    background-color: #ffc1073c;
}

/* Yellow for 'Medium' */
.priority.High {
    background-color: #fd7d144d;
}

/* Orange for 'High' */
.priority.Critical {
    background-color: #ff0000d0;
}