.issue-lane {
    width: 24%;
    padding: 10px;
}

.lane-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.lane-body {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.issue-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    padding-bottom: 30px;
    overflow-y: scroll;
    background: #f6f6f6;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.issueCard {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    text-align: left;
    border-bottom: 6px solid transparent;
}

.issueCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    border-bottom: 6px solid #6e42c1;
}

.issueCard h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333;
    margin: 0 !important;
}

.issueCard p {
    color: #555;
    margin: 0 !important;
}

.issueCard strong {
    color: #333;
}

.status,
.category,
.priority {
    padding: 5px 8px 5px 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 12px #e2e2e2c7;
    backdrop-filter: blur(5px);
    color: #000 !important;
    font-weight: 500;
    font-size: 12px;
}

.status.ToDo {
    background-color: #6c757d2f;
}

.status.InProgress {
    background-color: #17a3b856;
}

.status.Review {
    background-color: #ffc1073c;
}

.status.Completed {
    background-color: #23e45052;
}

.category.Bug {
    background-color: #dc354638;
}

.category.Feature {
    background-color: #007bff4d;
}

.category.Enhancement {
    background-color: #17a3b856;
}

.category.Question {
    background-color: #6e42c164;
}

.priority.Low {
    background-color: #23e45052;
}

.priority.Medium {
    background-color: #ffc1073c;
}

.priority.High {
    background-color: #fd7d144d;
}

.priority.Critical {
    background-color: #ff000034;
}

/* New styles for tags and team */
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tagPill {
    background: #e0e0e0;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #333;
}

.team {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

/* issues.module.css */
.typeahead-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.typeahead-container input {
    width: 320px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.typeahead {
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.typeahead .rbt-input-main {
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}